*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar */

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item{
  text-decoration: none;
  padding: 14px;
  font-weight: bold;
  color: black;
}

/* main section */
section.main-container{
  background-color: #495E57;
  height: 360px;
  padding-left: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.main{
  padding: 14px;
  max-width: 550px;
}

.title{
  color: #F4CE14;
  font-size: 2.7rem;
  font-family: 'Markazi Text';
  margin-bottom: 0;
}
h3{
  color: white;
  margin-top: 0;
  font-size: 1.5rem;
  font-family: Karla;
  margin-bottom: 20px;
}
.main-info{
  color:white;
  font-size: 1.3rem;
  font-family: Karla;
}
button{
  background-color: #F4CE14;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  font-weight: bold;
  font-size: 15pt;
  margin-top: 15px;
}
.main-img{
  border-radius: 18px;
  width: 70%;
  height: 380px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  margin: 50px;
}

 /* reserve-table form */

h2{
  font-size: 1.9rem;
  font-family: Karla;
}
.form{
  margin: 50px;
  display: flex;
  justify-content: center;
}
fieldset{
  padding: 18px;
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: center;
  font: 1.07rem Karla;
}
label{
  padding-block: 0.8rem;
  display: inline-block;
}
input[type="submit"]{
  padding: 3px;
  margin-top: 25px;
  background-color: #F4CE14;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 11.5pt;
  cursor: pointer;
}
legend{
  font-size: 1.4rem;
}
input{
  padding: 3px;
  display: inline-block;
  margin-bottom: 5px;
}

/* specials section*/

.specials-container{
  margin: 110px auto;
  padding: 10px 13%;
}

.specials-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.specials-container img{
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

.special-items{
  width: 350px;
  background-color: #EDEDEE;
  border-radius: 8px;
}

section .specials-content{
  padding: 15px;
}
section .specials-heading{
  display: flex;
  justify-content: space-between;
}

/* about section*/
.about-us{
  background-color: #495E57;
  margin: 60px 0;
}

.about{
  color:white;
  font-size: 1.1rem;
  font-family: Karla;
  flex: 1 1 50%;
  line-height: 1.2;
}

.about-us .about-wrap {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.about-us .about-wrap .img-wrap {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
}

.about-us .about-wrap .img-wrap img {
  box-shadow: 10px 5px 20px rgba(0,0,0,.4);
  height: auto;
  max-width: 400px;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

.about-container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

.about-us .about-wrap .img-wrap img:last-child {
  margin: -10% 0 0 -10%;
  z-index: 0;
}

/* @media only screen and (max-width: 800px) {
    .about-wrap {
      flex-direction: column;
    }
    .img-wrap img {
          box-shadow: 4px 4px 5px rgba(#000, 0.3);
    }

    .img-wrap img:last-child {
        margin: -10% 0 0 -5%;
    }
} */

/* for smaller screens */
@media(max-width: 600px){
  .main-container{
  background-color: #495E57;
  padding-left: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items:center;
  }
  .main-img{
    display: none;
  }
  .main-info{
    padding: 10px;
  }
  fieldset{
    padding: 15px;
    width: 300px;
    font: 1rem Karla;
  }
  legend{
      font-size: 1.3rem;
  }
  .specials-container{
    margin: 20px 0;
  }
  .specials-header{
    justify-content: flex-start;
  }

  .special-items{
    width: 100%;
  }
}